@using Storeii.Helpers

<h2>Products</h2>
<div class="container">
    <div class="row">

        @foreach (var product in Model)
        {
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@product.ProductName</h5>
                        <img src="@Url.Content(Paths.ProductImages + product.Image)" class="card-img-top" alt="@product.ProductName">
                        <p class="card-text">@product.ProductDescription</p>
                        <p class="card-text card-price">€@product.Price</p>
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" asp-route-slug="@product.Slug" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
